* {
  margin: 0;
  box-sizing: border-box;
}

.main-btn-wrapper {
  display: flex;
  gap: 30px;
  margin: 20px 0 30px 10px;
}

#form-wrapper {
  display: none;
  width: 1080px;
  height: 500px;
  margin: 0 auto;
  /* padding: 10px 40px;
  padding-bottom: 100px; */
  box-shadow: 3px 3px 0.4em gray, 3px 3px 0.4em gray;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  padding: 0 auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
}
